<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/image1.jpg" alt="first" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image2.jpg" alt="second" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image3.jpg" alt="third" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image4.jpg" alt="fourth" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image5.jpg" alt="fifth" class="item">
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="container p-5">
    <app-message></app-message>
    <p class="lead">
      <b>Interesting Events:</b>
    </p>
    <div class="row">
      <div *ngIf="!events" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div>
      <div *ngFor ="let event of events" class="col-md-3 mb-5">
        <a routerLink="/event/{{ event._id }}">
          <div class="card bg-light">
            <img src="{{ event.image }}" alt="event" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ event.title }}</h5>
              <p class="card-text">{{event.place}}</p>
              <p class="card-text">{{event.date | date:'dd-MM-yyyy'}}</p>              
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  </section>